.avatar-display {
  position: relative;
  display: inline-block;
  height: 200px;
  width: auto;
}

.equipment-layer {
  position: absolute;
  top: 0;
  left: 0;
}

.hat {
  z-index: 4; /* Hat should be above the base avatar */
}

.shirt {
  z-index: 3; /* Shirt is in front of hat, pants, and boots */
}

.pants {
  z-index: 0; /* Pants are behind the shirt */
}

.boots {
  z-index: 1; /* Boots are behind the pants */
}

.weapon {
  z-index: 3; /* Weapon should be in front of all the other equipment */
}