.avatar-editor-container {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  height: inherit;

  background-color: #dfd9d0;

  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

.avatar-display {
  position: relative;
  display: inline-block;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

.avatar-editor-title {
  justify-self: center;
}

.equipment-category h5 {
  margin-bottom: 5px;
}

.equipment-layer {
  position: absolute;
  top: 0;
  left: 0;
}

.hat {
  z-index: 2; /* Hat should be above the base avatar */
}

.shirt {
  z-index: 3; /* Shirt is in front of hat, pants, and boots */
}

.pants {
  z-index: 0; /* Pants are behind the shirt */
}

.boots {
  z-index: 1; /* Boots are behind the pants */
}

.weapon {
  z-index: 4; /* Weapon should be in front of all the other equipment */
}

.equipment-selection {
  /* margin-top: 20px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* gap: 20px; */
  width: 55%;
}

/* .equipment-category {
  margin-bottom: 15px;
} */

.equipment-thumbnail {
  width: 100px;
  height: auto;
  cursor: pointer;
}
.equipment-category button {
  border: solid #a89e91 2px;
  border-radius: 10px;
  margin: 1px;
  background-color: #b9b2a7;

  z-index: 51;
}

.equipment-category button:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.103);
}

.equipment-thumbnail:hover {
  opacity: 0.8;
}

.equip-button {
  font-size: 1.2em;
  margin-top: 40px;
  padding: 10px;
  margin-bottom: 40px;
  align-self: center;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.525);
  border: 1px solid lightgray;
  border-radius: 5px;
}

.equip-button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgb(255, 255, 255);
}

button[title="base"],
button[title="blue"],
button[title="green"],
button[title="limegreen"],
button[title="orange"],
button[title="pink"],
button[title="purple"],
button[title="red"],
button[title="turquoise"],
button[title="yellow"] {
  color: transparent;
  width: 70px;
  border: 1px solid lightgray;
  border-radius: 5px;
  gap: 0;
  height: 25px;
}
