.devParent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  flex-direction: column;
}

.devContainerAdd, .devContainerNotCon, .devContainerCon {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  justify-self: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  width: 40%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.devContainerAdd form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%; 
}

.devContainerAdd input {
  width: 15%; /* Adjust width as needed */
  padding: 5px; /* Add some padding for better appearance */
}

.devContainerAdd button {
  padding: 5px 10px;
  width:20%;
}

.devContainerAdd p, .devContainerNotCon p, .devContainerCon p {
  text-align: center;
}
