.devParent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  flex-direction: column;
}

.devContainerAdd,
.devContainerNotCon,
.devContainerCon {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  justify-self: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  width: 40%;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.devContainerAdd p,
.devContainerNotCon p,
.devContainerCon p {
  text-align: center;
}

.devContainerCon button {
  font-weight: bold;
  padding: 5px 10px;
  background-color: rgb(204, 159, 148);
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;

  border-radius: 5px;
}

.devContainerAdd form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.devContainerAdd input {
  width: 15%;
  padding: 5px;
}

.devContainerAdd button {
  font-weight: bold;
  padding: 5px 10px;
  width: 19%;
  background-color: rgb(204, 159, 148);
  color: black;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
.devContainerAdd button:not(:disabled):hover {
  cursor: pointer;
}
.devContainerAdd button:disabled {
  background-color: rgba(210, 210, 210, 0.667);
  color: white;
}
