.devParent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  flex-direction: column;
}

.devContainerAdd,
.devContainerNotCon,
.devContainerCon {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  justify-self: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  width: 40%;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.devContainerAdd form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.devContainerAdd input {
  width: 15%;
  padding: 5px;
}

.devContainerAdd button {
  padding: 5px 10px;
  width: 19%;
}

.devContainerAdd p,
.devContainerNotCon p,
.devContainerCon p {
  text-align: center;
}

.devContainerCon {
  background-color: rgba(127, 255, 212, 0.525);
}
