/* Hide scrollbar for Chrome, Safari, and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container {
  margin-top: 8vh;
  max-width: 70%;
  max-height: 80%;
  overflow-y:auto;
  background-color: inherit;
  border: none;
}

.users {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.details p{
  flex: 1;
  font-size: small;
}

.details button{
  width: 100%;
}

.avatar {
  flex: 1;
  height: 100%;
  background-color: transparent;
}

