.LoginContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 250px;
  width: 300px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* BIG BOX SHADOW */
  box-shadow: 0px 900px 0px 1000vmax rgba(0, 0, 0, 0.5);
  background-color: #f2f4f8;
  border-radius: 10px;
}

.LoginContainer h1 {
  margin-top: 75px;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  justify-self: center;
  font-family: "Pixelify Sans", serif;
  opacity: 60%;
}

.LoginContainer button,
select {
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
}

.LoginContainer button {
  width: 100px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.LoginContainer button:hover {
  background-color: #45a049;
}
