.LoginContainer {
  z-index: 1;
  display: flex;
  position: fixed;
  height: 250px;
  width: 200px;
  align-self: center;
  justify-content: center;
  margin-top: 15vh;
  padding-top: 5vh;
  border: 1px solid;
  padding: 15px;
  /* BIG BOX SHADOW */
  box-shadow: 0px 900px 0px 1000vmax rgba(0, 0, 0, 0.5);
  background-color: lightgray;
}

.LoginContainer h1 {
  padding-top: 15vh;
  display: flex;
  justify-self: center;
  color: rgb(113, 117, 229);
}

.LoginContainer button,
select {
  height: 20px;
  text-align: center;
}

.LoginContainer button {
  width: 60px;
}
