.UserLogOutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  /* To compensate the Logo padding from 'a' in NavLinks.css */
  padding: 1em;
  padding-right: 2em;
}
