.NavBar {
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 55px;
  background-color: #554c49;
}

.Logo-box {
  width: fit-content;
  padding-left: 1em;
  padding-right: 1em;
}

/* .NavBar-logo for the stripe purchase page */
.Logo,
.NavBar-logo {
  color: #000000;
  font-family: "Jacquard 12", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
  margin: 0;
}

.NavBar-logo a {
  color: black;
  text-decoration: none;
}

.UserLogOutContainer {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 22px;

  font-size: 19px;
}

.UserLogOutContainer button {
  padding: 5px;
  border-radius: 5px;
  border: none;

  background-color: #dfd9d0;
}

.UserLogOutContainer button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media (max-width: 999px) {
  .Logo {
    font-size: calc(5.5vw);
  }
  .desktop-username {
    display: none;
  }
}
