/* The 'a' here affects the Everstride logo and the Avatar Editor button  */
.NavLinks-button,
.NavLinks,
.button,
a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

a,
button {
  padding: 0;
}
/* Fixes the spacing between Avatar Editor and Gold Market */

a {
  width: 110px;
  height: 100%;
}
/* Makes the Avatar Editor box the same size as the other links, but also makes the logo box 110px */

.NavLinks-button {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 22px;

  font-size: 23px;

  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  z-index: 1;
  width: 90px;
  height: 100%;
  padding: 10px;
}

/* Hover effect */
.NavLinks a:hover::before {
  width: 110px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: none;
}

/* Off-hover */
.button::before,
.NavLinks a::before {
  content: "";
  border-radius: 5px;
  position: absolute;
  width: 110px;
  height: 55px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  z-index: 1;
  /* Fade out hover */
}

.mobile-button {
  display: none;
  width: 55px;
}

@media (max-width: 999px) {
  .desktop-button {
    display: none;
  }
  .mobile-button {
    display: flex;
  }
  .NavLinks a:hover::before {
    width: 55px;
  }
  .button::before,
  .NavLinks a::before {
    width: 55px;
  }
}
