.QuestInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 200px;
  min-width: 500px;
  width: 60%;
  box-sizing: border-box;
  padding: 1em;

  background-color: darkgrey;
}
