.StepVisualizer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: calc(100% - 2em);
  height: 360px;
  margin-top: 1em;

  color: black;
  background-color: lightgray;
  background-image: url('/assets/scenes/start.png');
  background-size: 4000px;
  background-position: center;
  background-repeat: repeat-x;
  overflow: hidden;

  font-size: calc(0.5rem + 1vh);
}

.StepVisualizer-character {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */

  height: 360px;
  margin-left: 3em;
  margin-right: 3em;
}

.StepVisualizer-progress {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.StepVisualizer-goal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: calc(1em + 4vh);
}

@media (max-width: 768px) {
  .StepVisualizer {
    height: 200px;
    background-size: 2500px;
  }

  .StepVisualizer-character {
    height: 230px;
  }
}