.StepVisualizer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  width: calc(100% - 2em);
  max-height: 350px;
  margin-top: 1em;

  color: black;
  background-color: lightgray;
  overflow: hidden;

  font-size: calc(0.5rem + 1vh);
}

.StepVisualizer-character {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */

  height: 100%;
  margin-right: 3em;
}

.LocationDiv,
.StepVisualizer-progress,
.DivThree {
  flex: 1;
  margin: 0;
  justify-items: center;
}

.StepVisualizer-goal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: calc(1em + 4vh);
}
