.Store {
  text-align: center;
  height: inherit;
  max-width: 900px;
  width: inherit;

  overflow-y: auto;

  background-color: #dfd9d0;

  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h2.Title {
  margin-top: 2.5em;
}

.Store-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Store-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Store-item {
  padding: 0px;
  width: 9em;
  margin-left: 1px;
  margin-right: 1px;
  border: solid rgba(211, 211, 211, 0.42) 2px;
  background-color: white;
  border-radius: 10px;
}

.Store-item:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.Store-item button {
  border-radius: 10px;
  border: 0px;
}

.Store-item button:not(:disabled) {
  background-color: #b9b2a7;
  cursor: pointer;
}

.Store-item p {
  font-size: small;
  height: fit-content;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;

  font-size: 14px;
  padding-top: 5px;
}

.Item-name {
  width: 150%;
  justify-self: center;
}

p.Item-price {
  justify-self: center;
  font-size: 17px;
}

.Store-item-thumbnail {
  width: 100%;
  background-color: transparent;
}

.Store-item-owned {
  background-color: #696361;
  border: 0px;
  border-radius: 15px;
}

h3.Store-item-owned-SOLD {
  color: red;
  height: fit-content;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Store-Stripe-Banner {
  display: flex;
  align-items: center;

  position: fixed;
  left: 0;
  bottom: -115px;

  width: 100%;
  height: 100px;
}
